<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EventU"
        tools:targetApi="31">

        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.EventHive.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ProfileDisplayActivity" />
        <activity android:name=".ViewEventActivity" />
        <activity android:name=".EditProfileActivity" />
        <activity
            android:name=".SetupActivity"
            android:theme="@style/Theme.EventHive.NoActionBar" />
        <activity
            android:name=".addEventActivity"
            android:theme="@style/Theme.EventHive.NoActionBar"
            />
        <activity android:name=".editEventActivity" />
        <activity android:name=".InterestActivity" />
        <activity android:name=".NotificationActivity" />
        <activity
            android:name=".EventBrowsingActivity"
            android:theme="@style/Theme.EventHive.AppCompat.NoActionBar"
            />
        <activity
            android:name=".EventDetailActivity"
            android:theme="@style/Theme.EventHive.AppCompat.NoActionBar"
            />
    </application>

</manifest>